@import "/src/styles/scss/variables";
@import "~bootstrap/scss/mixins";

.acc-distributor-map-info-box {
  h2 {
    font-size: $h1-font-size;
  }
  overflow: visible !important;
  //   margin-top: -12px !important;
  border-radius: 5px;

  &::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
}
